$foo: deeppink;
$bar: $foo;
$baz: 13.37%;

@import '_base';

:root {
  --color-emphasis: deeppink;
}

div {
  box-sizing: border-box;
}

.header {
  background-color: darken(var(--color-emphasis));
  color: var(--color-emphasis);
  cursor: pointer;
}
